<h2> listing of all assignments </h2>
<p>
<%= link_to "new assignment", new_assignment_path %>
</p>
<table>

 <tr>
  <th> Title</th>
  <th> Description</th>
</tr>

<% @assignments.each do |f| %>
  
  <tr>
    
  <td> <%= f.title %> </td>
   <td> <%= f.description %> </td>
   <td> <%= link_to " Edit |", edit_assignment_path(f) %> </td>
      <td> <%= link_to "Show |", assignment_path(f)%> </td>
      <td> <%= link_to "Destroy ", assignment_path(f), method: :delete, data: {confirm: "Are you sure?"} %> </td>
   </tr>
   <% end %>
</table>